[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pg8000 = "*"
boto3 = "*"
pytz = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
isort = "*"
pylint = "*"

[requires]
python_version = "3.9"
